<p>forgot-id works!</p>

    
    <h1 align="center"> Forgot User ID </h1> 
    <form>  
        <div class="container">
        	<div align="center"><label>ENTER DETAILS</label></div>   
        	 
        	<br>
            <label>Enter Account Number : </label>   
            <input type="text"  name="accNo" required>  
            <label>Enter OTP : </label>   
            <input type="password" name="otp" required>  
            <button type="submit">Proceed</button>
            <button type="submit">Back</button>    
            <input type="checkbox" checked="checked"> Remember me    
        </div>   
    </form>     

