<p>deposit-money works!</p>

        <h1>
            <div style="width:300px;height:50px;border:1px solid #000;">Add Deposits</div>
            
        </h1>
        
       
<form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="beneficiaryname">Depositor Name </label>&nbsp;&nbsp;
                    <input type="text" id="beneficiaryname" name="beneficiaryname">

                </div>
<br>

                <div class="form-group col-md-6">
                    <label for="beneficiaryaccountno">Depositor Account Number</label>&nbsp;&nbsp;
                    <input type="text" id="beneficiaryaccountno" name="beneficiaryaccountno">
                </div>

<br>                
                <div class="form-group col-md-6">
                    <label for="beneficiaryaccountno">Re-Enter Account Number</label>&nbsp;&nbsp;
                    <input type="text" id="beneficiaryaccountno" name="beneficiaryaccountno">
                </div>

<br>                
                
                     
                
                
            </div>
            <button type="submit" class="btn btn-primary">Add Deposit</button>
        </form>
        
>