<p>forgot-password works!</p>

  
 <h1> Forgot User Password </h1> 
    <form>  
        <div class="container">
        	<div align="center"><label>ENTER DETAILS</label></div>   
        	 
        	<br>
            <label>Enter User/Customer ID : </label>   
            <input type="text"  name="custId" required>  
            <label>Enter OTP : </label>   
            <input type="password" name="otp" required>  
            <button type="submit">Proceed</button>
            <button type="submit">Back</button>    
            <input type="checkbox" checked="checked"> Remember me    
        </div>   
    </form>     


